 {% extends 'home/base.html' %}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Reminders: None Found</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <h2>Make an Reminder!</h2>
            <button class="btn btn-outline-primary">Create Reminder</button>
        </div>
    </div>
</div>